<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-toggle.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Product Management", "Index", "Home", new { }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Item", "Item", "Item")</li>
                    <li>@Html.ActionLink("Category", "Category", "Category")</li>
                    <li>@Html.ActionLink("Measure", "Measure", "Measure")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Master Dương</p>
        </footer>
    </div>

    <script>
        //$(document).ready(function () {

        //    function reset_demensions() {
        //        doc_height = $(document).height();
        //        doc_width = $(document).width();
        //        $(".flicker-div").css("min-width", doc_width + "px");
        //        $(".flicker-div").css("min-height", doc_height + "px");
        //        alert("From - Function" + doc_width + "x" + doc_height);

        //    }

        //    reset_demensions();
        //    $(window).resize(function () {
        //        reset_demensions();

        //    });

        //});
    </script>
</body>
</html>